snippet cstruct "C struct node"
${1:node} [shape=none, margin=0, label=<
	<TABLE BORDER="0" CELLBORDER="1" CELLSPACING="0">
		<TR><TD PORT="m0"  BGCOLOR="gold">${2:struct}</TD></TR>
		<TR><TD CELLPADDING="0"><TABLE BORDER="0" CELLBORDER="0" CELLSPACING="0">
			<TR><TD PORT="m1" ALIGN="LEFT">+${3:member}</TD></TR>
		</TABLE></TD></TR></TABLE>>]
$0
endsnippet
